<h1>Add new course</h1>
<div class="row">
    <form class="col s12" action="/add" method="POST">
        <div class="input-field col s6">
            <input placeholder="Name of course" name="title" id="title" type="text" class="validate" required>
            <label for="first_name">Name of course</label>
            <span class="helper-text" data-error="Enter name" data-success="right">Helper text</span>
        </div>

        <div class="input-field col s6">
            <input placeholder="Price" name="price" id="price" type="number" class="validate" required>
            <label for="price">Price</label>
            <span class="helper-text" data-error="Enter price" data-success="right" min="1">Helper text</span>
        </div>

        <div class="input-field col s6">
            <input id="img" type="text" name="img" class="validate" required>
            <label for="img">URL of image</label>
            <span class="helper-text" data-error="Enter url of image" data-success="right">Helper text</span>
        </div>

        <button class="btn btn-primary">Add course</button>
    </form>
</div>